<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152968103834-3gm91kgdjlne0l2ajgumqsm5vlvnn70a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152968103834-3gm91kgdjlne0l2ajgumqsm5vlvnn70a</string>
	<key>API_KEY</key>
	<string>AIzaSyD7XZf0YVQ1ra1CiZvsppLt0se6SWuEksY</string>
	<key>GCM_SENDER_ID</key>
	<string>152968103834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginExArbete</string>
	<key>PROJECT_ID</key>
	<string>examensarbete-app-aaedb</string>
	<key>STORAGE_BUCKET</key>
	<string>examensarbete-app-aaedb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152968103834:ios:e6dd993c9a1eb7e0e59c23</string>
</dict>
</plist>